/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    min-height: 100vh;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    transition: all 0.3s ease;
}

.main {
    min-height: 100vh;
    background-image: url(./pic/1.png);
    background-position: right;
}

.sidebar {
    position: relative;
}

.sidebar-wrapper {
    padding: 20px;
    overflow: hidden;
}


.sidebar-wrapper > div {
    margin-bottom: 30px;
}

.collapse-btn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 26px;
    background-color: lightslategray;
    top: 10%;
    right: -25px;
}

.collapse-btn:hover {
    cursor: pointer;
}

.collapse {
    grid-template-columns: 0px 1fr;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user img {
    height: 80px;
    width: 80px;
    border-radius: 41px;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list-title h2 {
    font-size: 40px;
}

#addlist {
    margin: 13vh auto auto 290px;
    border: none;
    border-radius: 12px;
    padding: 20px;
    animation: fadeIn 0.6s ease;
}

#addlist::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes generalFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-set {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#listform h2 {
    color: steelblue;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 20px;
}

#listform .holder {
    margin-bottom: 50px;
}

#listname {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

#listform button {
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 20px;
    border: none;
    border-radius: 999px;
    transition: all 0.3s ease;
}

#listform button:hover,
.todosform button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#listform .confirm-list-btn {
    background-color: yellowgreen;
}

#listform .cancel-list-btn {
    background-color: red;
}

.list-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-unit .delete-list-btn {
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
}

.list-unit .delete-list-btn::before {
    content: '';
    width: 12px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
}

.list-unit .delete-list-btn:hover {
    cursor: pointer;
    rotate: 360deg;
}

.list-unit .todos-number {
    font-size: 15px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: white;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit-fadeIn {
    animation: generalFadeIn 0.6s ease;
    will-change: transform, opacity;
}

.addlistbtn,
.addtodosbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: greenyellow;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.6s ease;
}

.addlistbtn:hover {
    cursor: pointer;
    rotate: 360deg;
}

.addtodosbtn:hover {
    cursor: pointer;
    rotate: 360deg;
}


.main {
    display: grid;
    grid-template-rows: 150px 1fr;
}

#addtodos {
    padding: 20px;
    margin: 15vh auto auto auto;
    border: none;
    border-radius: 12px;
    animation: fadeIn 0.6s ease;
}

#addtodos::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.todos-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.todos-card {
    background-color: white;
    justify-self: center;
    align-self: flex-start;
    width: 300px;
    padding: 20px;
    border-radius: 18px;
}

.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.todosform {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.todosform h2 {
    color: yellowgreen;
    font-size: 15px;
    margin-bottom: 20px;
}

.todosform input[type='text'] {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 100px;
    margin-right: 20px;
}

.todosform input[type='date'] {
    width: 105px;
}

.todosform input[type='date']:hover {
    cursor: pointer;
}

.formcontrol {
    display: flex;
    margin-bottom: 20px;
}

textarea {
    margin-left: 10px;
    resize: none;
}

#addtodos button {
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 15px;
    border: none;
    border-radius: 999px;
    transition: all 0.3s ease;
}

.confirm-todos-btn {
    background-color: greenyellow;
}

.cancel-todos-btn {
    background-color: red;
}

.todos-unit {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-left: 10px solid yellowgreen;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    overflow: hidden;
    height: 60px;
}

.todos-unit-unfold {
    height: max-content;
}

.todos-unit:hover {
    cursor: pointer;
}

.upper-unit-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.todos-detail {
    word-break: break-all;
}

@keyframes unit-fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
        max-height: 150px;
    }
    50% {
        opacity: 0;
        transform: translateX(50px);
        max-height: 150px;
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
        max-height: 0px;
    }
}

.unit-fade-out {
    animation: unit-fade-out 0.6s ease;
    will-change: opcatiy, transform;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 999px;
}

input[type="checkbox"]::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: red;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked::after {
    background-color: yellowgreen;
    left: 22px;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.search-bar-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    height: 40px;
    width: 500px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 999px;
    padding: 20px;
}


